HELP.md

!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.mvn
mvnw.cmd
mvnw
.env
target/**

src/main/resources/swagger/**
