server:
  port: ${PORT:8080}

spring:
  application:
    name: alura-flix-api

  web:
    # Disable StackTrace of Spring on response when an error happen
    error:
      include-stacktrace: never

  mongodb:
    #username: alura-flix-admin
    database: alura-flix
    # always commit the uri like this: ${DATABASE_PRO}
    uri: ${DATABASE_PRO}

api:
  security:
    api-issuer: alura-flix-api
    # always commit the uri like this: ${JWT_SECRET}
    token-jwt-secret: ${JWT_SECRET}

springdoc:
  swagger-ui:
    operations-sorter: method
    tags-sorter: alpha