name: CI/CD Workflow
run-name: ${{ github.actor }} has started workflow
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read
  actions: read
  checks: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    ## Set up to use JDK 25
    - name: Set up JDK 25
      uses: actions/setup-java@v3
      with:
        java-version: '25'
        distribution: 'temurin'
        cache: maven

#    ## Build and execute every test
#    - name: Compile and execute
#      run: mvn -B package -DskipTests --file pom.xml
#      env:
#        JWT_SECRET: ${{ secrets.JWT_SECRET }}
#        DATABASE_PRO: ${{ secrets.DATABASE_PROD }}
#        DATABASE_TEST: ${{ secrets.DATABASE_TEST }}

    ## Build and execute every test
    - name: Execute Tests
      run:  mvn test
      env:
        JWT_SECRET: ${{ secrets.JWT_SECRET }}
        DATABASE_TEST: ${{ secrets.DATABASE_TEST }}

    ## Generate Test Report Summary
    - name: Test Report
      uses: dorny/test-reporter@v1.7.0
      if: always()
      with:
        name: Test Reporter Summary
        path: target/surefire-reports/*.xml
        reporter: java-junit

    ## JaCoco report
    - name: Create JaCoco Report
      id: jaCoco
      uses: madrapps/jacoco-report@v1.6.1
      with:
        paths: |
          ${{ github.workspace }}/target/site/jacoco/jacoco.xml,
        token: ${{ secrets.SECRET_TOKEN }}
        min-coverage-overall: 40
        min-coverage-changed-files: 60

  docker:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Build Docker Image
        run: docker build . --file Dockerfile --tag alura-flix-api:$(date +%s)
